.header{
    background-color: white;
    height:80px;
    display: flex;
    justify-content: space-between;
    margin-top: 0cm;
    margin-bottom: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;

}

/* the links at the nav bar decorations class a="active" */

.header button{
    float: left;
    color: black;
    background-color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 20px; 
    border-width: 0px;
    border-radius: 2px;
    

}

.header button.active {
    background-color: orange;
    color: white;
}

.header button:hover {
    background-color: #ddd;
    color: black;
    
}

.header .header-text-0{
    color: black;
    font-size: 30px;
    padding-left: 50px;
}


.header .header-text-0 .red{
    color: orange;
}

body{
    margin: 0;
    padding: 0;
}

/* The bottom section right after header and nav bar */

.landing-section{
    display: grid;
    grid-template-columns: auto  ;
    background-image: url("images/bg-01.jpg");
    background-size: 1900px;
 
    height: 800px;
    opacity: 0.9;
}

.landing-section-1{
    text-align: center;
    font-size: 25px;
    padding:450px;
}

.landing-text-1{
    color: white;
}

.landing-text-2{
    color: white;
    font-size: 30px;
}



/*Introduction Section**/
.intro-section{
    display: grid;
    grid-template-columns: auto  ;
    background-color:rgb(248, 129, 61);
    height: 350px;
    
   
}

.intro-section-text{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    padding-left: 70px;
    padding-top: 40px;
}

.intro-paragraph{
    color: white;
    padding: 20px;
}
.icons-footer-section{
    align-items: center;
    height: 70px;
    width: 70px;
    margin:20px;
}

 /*  .intro-section-button{
    padding-top: 90px;
}

.button{
    padding-top: 50px;
  background-color: white;
  border: none;
  color: black;
  padding:  15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
}

button:hover{
    background-color: crimson;
    color: black;
}  */



.service-demo-section{
    text-align: center;
    font-size: 25px;
    padding : 200px;
}

.service-intro-pera{
    font-size: 22px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}


/**Feature Section*/

p{
    text-align: center;
    

}

.feature-section{
    display: grid;
    grid-template-columns: auto auto auto auto ;
   
    padding-bottom: 50px;
}

.feature-section-01  {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
}


.feature-section-01 .icons{
    height: 90px;
    width: 90px;
    align-items: center;
}


.feature-section-h2{
    font: 30px;
    font-weight: bold;
    
}

/*COntact us form design**/


.contact-us-form{
    display: grid;
    grid-template-columns: auto auto  ;
   text-align: center;
    padding: 40px;
    background-color: rgb(248, 129, 61);
    height: 600px;

}


/**actual form items */
.contact-us-form-control{
    
    padding: 25px;
}
.contact-us-form-control-h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}
.contact-us-form-control input[type=text], .contact-us-form-control input[type=text] {
    
    align-items: center;
    outline: none;
   
    height: 25px;
    width: 800px;
    margin: 15px 0;
   
    padding:10px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    border-radius:15px;
    border: 2px solid rgb(255, 255, 255);
    transition: .3s border-color;
}
.contact-us-form-control input[type=text], .contact-us-form-control input[type=text]:hover{
    border: 1px solid #aaa;
}

.contact-us-form .button-feedback{
    background-color: white;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding:  12px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
    
}
.button-feedback:hover {
    background-color: orangered;
    color: black;
}

.contact-us-feature-section{
  
    padding:50px;
}
.contact-us-feature-section .contact-icons{
    padding-top: 50px;
    height: 90px;
    width: 90px;
    padding-right:50px;
    align-items: center;
}

.contact-us-feature-section .contact-us-feature-section-h2{
    text-align: left;
    font-size: 35px;
    color: white;
    padding-top: 50px;
    
}

.contact-us-feature-section .contact-us-feature-section-p{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 50px;
}


/*footer section*/

.footer-section {
    display:grid;
    grid-template-columns: auto ;
    background-color:grey ;
    height: 500px;
}

.footer-section .about-us{
    text-align: center;
    font-size: 25px;
    padding-top:50px ;
    color: white;
}

.footer-section .about-us .about-text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}


/**Working with forms pop up */

/*Hidden sign up log in form*/


.hidden-form-section{
    display: none;
    grid-template-columns: auto;
    background-size: 1900px;
    background-color: rgb(255, 255, 255);
    height: 800px;
    opacity: 0.9;
    
}
.hidden-form-section .hidden-container{
    text-align: center;
}


.icons-signup-login{
    height: 90px;
    width: 90px;
    align-items: center;
}
.hidden-form-section .hidden-form-section-h1{
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding:50px;
    
    
}

.hidden-form-section .hidden-container .signup-form-control{
    padding: 50px;
}





.signup-form-control input[type=text], .signup-form-control input[type=text]  {
    align-items: center;
    outline: none;
   
    height: 25px;
    width: 800px;
    margin: 15px 0;
   
    padding:10px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    border-radius:15px;
    border: 2px solid rgb(236, 187, 158);
    transition: .3s border-color;
}

.signup-form-control input[type=password]{
    align-items: center;
    outline: none;
    height: 25px;
    width: 800px;
    margin: 15px 0;
    padding:10px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    border-radius:15px;
    border: 2px solid rgb(236, 187, 158);
    transition: .3s border-color;
}



.button-signup{
    background-color: rgb(248, 129, 61);
    margin:7px;
    border:black;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding:  15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.button-signup:hover{
    background-color: orange;
    color: black;
}

/*end of HIDDEN SIGN up form styling */




/*Hidden section Log in styling*/
.hidden-form-section-login{
    display: none;
    grid-template-columns: auto;
    background-size: 1900px;
    background-color: rgb(255, 255, 255);
    height: 800px;
    opacity: 0.9;
}

.hidden-form-section-login .hidden-container-login{
    text-align: center;
}

.hidden-form-section-login-h1{
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding:50px;
}

.login-form-control{
    padding:50px;
}

.login-form-control input[type=text] , .login-form-control input[type=text]{
    align-items: center;
    outline: none;
    height: 25px;
    width: 800px;
    margin: 15px 0;
    padding:10px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    border-radius:15px;
    border: 2px solid rgb(236, 187, 158);
    transition: .3s border-color;


}

.login-form-control input[type=password]{
    align-items: center;
    outline: none;
    height: 25px;
    width: 800px;
    margin: 15px 0;
    padding:10px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    border-radius:15px;
    border: 2px solid rgb(236, 187, 158);
    transition: .3s border-color;
}